@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{text-decoration:underline;color:#F58634;}
a:hover{text-decoration:none;}
img{border:none;}
laebl{cursor:pointer;}
ul.colors{float:left;list-style:none;margin:0 0 10px 0;padding:0;}
ul.colors li{float:left;margin-right:3px;border:2px solid transparent;}
ul.colors li a{display:block;margin:1px;font-size:0;line-height:0;width:16px;height:16px;text-decoration:none;}

.jtumbler-magenta a{background:#fc1997;}
.jtumbler-purple a{background:#6e155f;}
.jtumbler-teal a{background:#4eb3b9;}
.jtumbler-lime a{background:#96b232;}
.jtumbler-brown a{background:#a05000;}
.jtumbler-pink a{background:#e671b8;}
.jtumbler-orange a{background:#de9317;}
.jtumbler-blue a{background:#1ba1e2;}
.jtumbler-red a{background:#e51400;}
.jtumbler-green a{background:#339933;}
.jtumbler-marine a{background:#034888;}
.jtumbler-white a{background:#fff;margin:0;border:1px solid #eee;}
.jtumbler-black a{background:#000;}
.jtumbler-dark-gray a{background:#777;}
.jtumbler-light-gray a{background:#ccc;}
ul.colors li.jtumbler-white a{margin:0;border:1px solid #eee;}
ul.colors li:hover{border-color:#f0f0f0;}
ul.colors li.current{border-color:#111;}