/**
* @file 申请表格页的样式
* @author linchunfeng
*/
.formcontainer
{
	width: 62%;
	height: 880px;
	margin: 0 auto;
	padding-top: 40px;
}
.formhead
{
	color: #48453E;
	font-size: 18px;
}
.btnlocation
{
	position: relative;
	top:30px;
}
/*以下是showdetail的和表格申请页不一样的样式*/
.formcontainerplus
{
	width: 90%;
	height: 880px;
	margin: 0 auto;
}
.stylecontrol
{
	display: inline-block;
}
.btnlocation1
{
	position: relative;
	top:30px;
	left:90px;
}
.btnlocation2
{
	position: relative;
	top:30px;
	left:340px;
}
.btnlocation3
{
	position: relative;
	top:30px;
	left:360px;
}
/*以下是修改用户信息页的新增样式*/
.spcontrol
{
	padding-right: 30px;
}
.spcontrol1
{
	padding-right: 45px;
}
.btnlocation4
{
	position: relative;
	top:30px;
	left:515px;
}
