/**
* @file 首页的样式
* @author linchunfeng
*/
/*轮播图*/
.scrollbar
{
	position: relative;
	height: 420px;
}
.scroll
{
	width: 640px;
	height: 360px;
	margin:0 auto;
	padding-top: 30px;
}
.goL
{
	position: absolute;
	left: 70px;
	top:180px;
}
.goR
{
	position: absolute;
	right: 70px;
	top:180px;
}
/*简介部分*/
.introbar
{
	position: relative;
	height: 400px;
}
.leftstyle
{
	position: absolute;
	width: 169px;
	height: 193px;	
}
.leftbottom
{
	position: absolute;
	width: 169px;
	height: 193px;
	background-image: url(../image/intro.png);
	z-index: 0;
}
.lefttop
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 97px;
	height: 97px;
	background-color: #FFF;
	z-index: 1;
}
.rightstyle
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 160px;
	height: 193px;	
}
.rightbottom
{
	position: absolute;
	width: 160px;
	height: 193px;
	background-color:#2C6090;
	z-index: 0;
}
.righttop
{
	position: absolute;
	top: 0;
	left: 0;
	width: 88px;
	height: 123px;
	background-color: #FFF;
	z-index: 1;
}
.introcontent
{
	width: 640px;
	height: 360px;
	margin:0 auto;
	padding-top: 10px;
}
/*选择要申请的活动室*/
.choosebar
{
	position: relative;
	height: 175px;
	padding-top: 30px;
}
.thumbnail
{
	padding-left: 0px;
}
.roomshow
{
	position: relative;
	float: left;
	margin-left: 6px;
}
.roomshow a
{
	display: block;
}

/*图片遮罩和按钮*/
.aboveimg
{
	position: absolute;
	display: none;
	top:0px;
	left: 0px;
	width: 160px;
	height: 122px;
	background-color: rgba(72,69,62,0.5);
	border-radius: 5px;
}
.aboveimg a
{
	position: absolute;
	display: block;
	top:45px;
	left: 50%;
	width:80px;
	padding: 5px 0;
	margin-left: -40px;
	text-align: center;
	color: #FFF;
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
	border-radius:5px;
	border-style: solid;
}
.aboveimg a:hover,aboveimg a:active
{
	background-color: rgba(220,220,220,0.7);
	color:#48453E;
	transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/*登录框*/
.modal-dialog
{
	width: 450px;
}
#loginbar
{
	top:20%;
}